body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: #000;
    overflow: auto; /* Allow scrolling */
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://i.pinimg.com/originals/db/34/d4/db34d40b271fb59477621550bf73ea0b.jpg);
    z-index: -1;
}

.quiz-container {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    padding: 20px 30px;
    width: 90%;
    max-width: 600px;
    margin: 50px auto;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    text-align: center;
    overflow: hidden;
}

.quiz-title {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
}

.timer {
    font-size: 1.5rem;
    color: #ff0000;
    margin-bottom: 20px;
}

#question-container {
    font-size: 1.3rem;
    margin-bottom: 20px;
    text-align: left;
}

.answers {
    margin: 15px 0;
    text-align: left;
}

.answer {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    background: rgba(240, 240, 240, 0.8);
}

.answer:hover {
    background: rgba(200, 200, 255, 0.8);
}

.correct {
    background-color: #48ef80cc;
    color: #fff;
    font-weight: bold;
}

.incorrect {
    background-color: rgba(239, 72, 72, 0.8);
    color: #fff;
    font-weight: bold;
}

.btn {
    background: #4facfe;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
}

.btn:hover {
    background: #00c6ff;
}

.hidden {
    display: none;
}

#result {
    margin-top: 20px;
    text-align: left;
    overflow-y: auto; /* Allow scrolling for result container */
    max-height: 70vh; /* Limit height to viewport for better usability */
    padding-bottom: 20px;
}

.report-item {
    margin-bottom: 15px;
}

.report-item .question {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
}

.report-item .option {
    padding: 5px;
    margin: 5px 0;
    border-radius: 5px;
}
#result h3 {
    font-size: 1.8rem;
    color: #fff;
    background: linear-gradient(to right, #48ef80cc, #48ef80cc);
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    font-weight: bold;
}

#result h3 span {
    font-size: 2rem;
    color: #ffffff; /* Highlight score with a golden color */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
